/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 20px;
}


/* CONTAINER */

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: auto;
    margin-right: auto;
}


/* Header */

.site-header {
    background-color: #FFF7EF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.site-nav-list {
    display: flex;
    align-items: center;
}

.site-nav-item {
    margin-left: 48px;
    list-style: none;
}

.site-nav-item:first-child {
    margin-left: 0;
}

.site-nav-link {
    text-decoration: none;
    color: #023135;
    transition: 300ms ease-in;
}

.site-nav-link:hover {
    color: orangered;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 50px;
    line-height: 64px;
    letter-spacing: 0.3100000023841858px;
    color: #32404D;
}

.header-des {
    margin-top: 21px;
    margin-bottom: 60px;
    color: #023135;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
}

.global-link {
    padding: 18px 38px;
    background-color: #007A5C;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    transition: 300ms ease-in;
}

.global-link:hover {
    background-color: #FFF7EF;
    color: #007A5C;
}

.header-img {
    margin-top: 46px;
    margin-left: 52px;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
}

.tiktok {
    margin-top: 40px;
}

.tutor-title {
    line-height: 16px;
    letter-spacing: 0.67px;
    color: #637381;
    text-align: center;
}

.tutor-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 96px;
}

.tutor-item {
    list-style: none;
    color: #007A5C;
    padding: 8px 12px;
    border-radius: 24px;
    border: 1px solid hsl(165, 100%, 24%);
    margin-right: 22px;
    transition: 300ms ease-in;
}

.tutor-item:last-child {
    margin-right: 0;
}

.tutor-item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #007A5C;
}

.phone-title {
    color: #023135;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.20000000298023224px;
    margin-bottom: 65px;
    text-align: center;
}

.main-phone {
    display: flex;
}

.first-feature {
    border: 1px solid #EBF4FF;
    border-radius: 24px;
    text-align: center;
    padding: 12px 22px;
    box-shadow: 0px 4px 7px 0px #DEEAF996;
}

.first-title {
    width: 36px;
    height: 36px;
    background: #32404D;
    color: #fff;
    border-radius: 50%;
    padding: 11px 0;
    text-align: center;
    display: inline-block;
}

.left-top {
    margin-left: 180px;
    margin-top: 12px;
    margin-bottom: 100px;
}

.left-bottom {
    margin-top: 22px;
    margin-left: 180px;
}

.right-arrow {
    margin-top: 17px;
}